# ===============================
# DEPENDÊNCIAS
# ===============================
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ===============================
# TESTES / BUILD
# ===============================
/coverage
/.next/
/out/
/build

# ===============================
# ARQUIVOS DE AMBIENTE (NUNCA VERSIONAR)
# ===============================
.env
.env.local
.env.production
.env.development
.env.*

# ===============================
# LOGS / DEBUG
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ===============================
# SISTEMA
# ===============================
.DS_Store
*.pem

# ===============================
# VERCEL
# ===============================
.vercel

# ===============================
# TYPESCRIPT
# ===============================
*.tsbuildinfo
next-env.d.ts

# ===============================
# PRISMA (frontend NÃO usa mais)
# ===============================
/prisma
/app/generated/prisma
